

body{
  background:gray;
  color:#fff;
   scroll-behavior:smooth;
}


#navigate{
  position:fixed;

  width:100%;
  background:#6a708f;
  display:flex;
  justify-content:center;
  padding:15px;
  
}

a{
  color:#fff;
  text-decoration:none;
  font-weight:600;
  padding:8px 14px;
  border-radius:6px;
  transition:0.3s;
}

a:hover{
  background:#38bdf8;
  color:black;
}


section{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  padding:80px 20px;
}


#home{ background:#1e293b; }
#about{ background:#0f172a; }
#skills{ background:#1e293b; }
#projects{ background:#0f172a; }
#contact{ background:#1e293b; }


.box, .box1, .box2, .box3{
  background:rgb(97, 93, 93);
  padding:40px;
  border-radius:15px;
  width:90%;
  max-width:800px;
  box-shadow:0 0 20px rgba(0,0,0,0.4);
}


h1{
  font-size:2.5rem;
}

h2{
  margin-bottom:15px;
  color:#38bdf8;
}

p{
  color:#cbd5f5;
  font-size:16px;
}

#img{
  width:160px;
  border-radius:50%;
  margin:20px 0;
  border:3px solid #38bdf8;
}


ol, ul{
  text-align:left;
}


.project{
  background:black;
  padding:20px;
  margin:15px 0;
  border-radius:10px;
  transition:0.3s;
}

.project:hover{
  transform:translateY(-5px);
}


input, textarea{
  width:100%;
  padding:12px;
  margin:10px 0;
  border:none;
  border-radius:6px;
}

button{
  padding:10px 20px;
  background:#38bdf8;
  color:#000;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-weight:bold;
}

button:hover{
  background:#0ee945;
}

#con{
  text-align:center;
  margin-top:20px;
  color:#cbd5f5;
}



  h1{
    font-size:2rem;
  }

